*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  color: #212529;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
ul,
ol,
li {
  padding-left: 0;
  list-style-type: none;
}
/* 一些变量 */
a {
  text-decoration: none;
  color: #007bff;
}
.c-f:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.c-f {
  _overflow: auto;
  zoom: 1;
}
.pr {
  position: relative;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.din {
  display: inline;
}
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-a {
  color: inherit;
}
.text-a:hover {
  color: inherit;
}
.text-a:focus {
  color: inherit;
}
.pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0 20px;
  line-height: 20px;
}
.help-i {
  font-style: normal;
}
.fb {
  font-weight: bold;
}
.crp {
  cursor: pointer;
}
.crd {
  cursor: default;
}
.wb-ba {
  word-break: break-all;
}
.ws-pl {
  white-space: pre-line;
}
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}
.fw-n {
  font-weight: normal;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.tac {
  text-align: center;
}
.tdu {
  text-decoration: underline;
}
.lh-24 {
  line-height: 24px;
}
.hov-inherit:hover {
  background-color: inherit;
}
.hov-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.c-blue {
  color: #007bff;
}
.c-red {
  color: #dc3545;
}
.c-green {
  color: #28a745;
}
.c-orange {
  color: #fd7e14;
}
.c-gray {
  color: #6c757d;
}
.c-light {
  color: #f8f9fa;
}
.c-dis-grey {
  color: #dadada;
}
.c-dis-grey:hover,
.c-dis-grey:active,
.c-dis-grey:focus {
  color: #dadada;
}
.c-tit {
  color: #343a40;
}
.min-h-16 {
  min-height: 16px;
}
.h-pct-100 {
  height: 100%;
}
.pad-0 {
  padding: 0;
}
.pad-15 {
  padding: 15px;
}
.pad-20 {
  padding: 20px;
}
.pad-30 {
  padding: 30px;
}
.pad-t-0 {
  padding-top: 0;
}
.pad-t-5 {
  padding-top: 5px;
}
.pad-b-0 {
  padding-bottom: 0;
}
.pad-b-5 {
  padding-bottom: 5px;
}
.pad-l-0 {
  padding-left: 0;
}
.pad-l-10 {
  padding-left: 10px;
}
.pad-l-15 {
  padding-left: 15px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-r-0 {
  padding-right: 0;
}
.pad-r-10 {
  padding-right: 10px;
}
.pad-r-20 {
  padding-right: 20px;
}
.pad-5-10 {
  padding: 5px 10px;
}
.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mar-l-5 {
  margin-left: 5px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-l-15 {
  margin-left: 15px;
}
.mar-l-20 {
  margin-left: 20px;
}
.mar-r-2 {
  margin-right: 2px;
}
.mar-r-5 {
  margin-right: 5px;
}
.mar-r-10 {
  margin-right: 10px;
}
.mar-r-15 {
  margin-right: 15px;
}
.mar-r-20 {
  margin-right: 20px;
}
.mar-r-230 {
  margin-right: 230px;
}
.mar-t-0 {
  margin-top: 0;
}
.mar-t-5 {
  margin-top: 5px ;
}
.mar-t-15 {
  margin-top: 15px ;
}
.mar-t-20 {
  margin-top: 20px;
}
.mar-t-25 {
  margin-top: 25px;
}
.mar-t-100 {
  margin-top: 100px;
}
.mar-b-0 {
  margin-bottom: 0;
}
.mar-b-10 {
  margin-bottom: 10px;
}
.mar-b-15 {
  margin-bottom: 15px;
}
.mar-b-20 {
  margin-bottom: 20px;
}
.mar-b-30 {
  margin-bottom: 30px;
}
.lh-22 {
  line-height: 22px;
}
.lh-30 {
  line-height: 30px;
}
.lh-36 {
  line-height: 36px;
}
.lh-38 {
  line-height: 38px;
}
.t-0 {
  top: 0;
}
.c-white {
  color: #fff;
}
.bgc-white {
  background-color: #fff;
}
.bgc-trans {
  background-color: transparent;
}
.bgc-primary {
  background-color: #007bff;
}
.z-0 {
  z-index: 0;
}
.bor-top-0 {
  border-top: 0;
}
.bor-t-0 {
  border-top: 0;
}
.bor-r-0 {
  border-right: 0;
}
.bor-b-0 {
  border-bottom: 0;
}
.bor-l-0 {
  border-left: 0;
}
/* 按钮样式 */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
}
.btn.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
}
.btn-primary:hover {
  background-color: #0062cc;
}
.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.alert-msg {
  position: fixed;
  width: 50%;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 25%;
  text-align: center;
  border-radius: 4px;
  background-color: #FEF3CB;
}
